[submodule "cluster/test/deploy/mds"]
	path = cluster/test/deploy/mds
	url = https://github.com/michaelsevilla/mds.git
[submodule "cluster/1client/src/ceph"]
	path = cluster/1client/src/ceph
	url = https://github.com/michaelsevilla/ceph.git
[submodule "cluster/1client/src/mds"]
	path = cluster/1client/src/mds
	url = https://github.com/michaelsevilla/mds.git
[submodule "cluster/3client/src/mds"]
	path = cluster/3client/src/mds
	url = https://github.com/michaelsevilla/mds.git
[submodule "cluster/3client/src/ceph"]
	path = cluster/3client/src/ceph
	url = https://github.com/michaelsevilla/ceph.git
[submodule "cluster/5client/src/mds"]
	path = cluster/5client/src/mds
	url = https://github.com/michaelsevilla/mds.git
[submodule "cluster/5client/src/ceph"]
	path = cluster/5client/src/ceph
	url = https://github.com/michaelsevilla/ceph.git
[submodule "cluster/1client-runs/src/mds"]
	path = cluster/1client-runs/src/mds
	url = https://github.com/michaelsevilla/mds.git
[submodule "cluster/1client-runs/src/ceph"]
	path = cluster/1client-runs/src/ceph
	url = https://github.com/michaelsevilla/ceph.git
[submodule "cluster/2client-runs/src/mds"]
	path = cluster/2client-runs/src/mds
	url = https://github.com/michaelsevilla/mds.git
[submodule "cluster/2client-runs/src/ceph"]
	path = cluster/2client-runs/src/ceph
	url = https://github.com/michaelsevilla/ceph.git
